{% extends "base.html %}
{% block title %}Feedback Form{% endblock %}
{% block content %}
<form method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.title.label(class="form-control-label") }}
        {{ form.title(class="form-control form-control-lg") }}
    </div>
    <div class="form-group">
        {{ form.content.label(class="form-control-label") }}
        {{ form.content(class="form-control form-control-lg") }}
    </div>
    <button class="btn btn-primary btn-lg">Submit</button>
</form> 
{% endblock %}